body{
  font-family: "Roboto";
}

audio{
  width: 80%;
  margin-left: 10%;
}

#search{
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

#search_button{
  height: 35px;
  width: 100px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: 0;
  box-shadow:none;
}

.row{
  text-align: center;
}
.song_title{
  color:navy;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0px;
}

.artist{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.img-responsive{
  height: 192px;
  width: 192px;
  margin-bottom: 13px;
}